<header class="navbar">
  <div class="container">
    <div id="logo">Tweet</div>
    <ul class="header-right">
      <li><%= link_to "投稿する", tweets_new_path %>投稿する</li>
      <li><%= link_to "ユーザ一覧" %></li>
    </ul>
  </div>
</header>

<div class="container">
  <h1>テスト投稿</h1>
</div>