<!DOCTYPE html>
<html>
  <head>
    <title>MySecondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="navbar">
  <div class="container">
    <div id="logo">Tweet</div>
    <ul class="header-right">
      <li>投稿する</li>
      <li>ユーザ一覧</li>
    </ul>
  </div>
</header>

    <%= yield %>
  </body>
</html>
